<html>
<head>
<title>Check In</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<form action="{{ url_for('checkin_submit') }}" method="post">
		{{ form.hidden_tag() }}
		<table>
			<thead>
				<td>Checked in</td>
				<td>Change</td>
				<td>Name</td>
				<td>Email Address</td>
				<td>Ticket</td>
				<td>Company</td>
				<td>Website</td>
				<td>Twitter</td>
				<td>Callsign</td>
				<td>Shirt Size</td>
				<td>Amateur Exam</td>
				<td>Hackfest</td>
				<td>Email Me</td>
			</thead>
			<tbody>
				{% for (modelGuest, formGuest) in comboGuestsModelForm %}
					{{ formGuest.form.hidden_tag() }}
					<tr>
						<td>{{ formGuest.form.checked_in }}</td>
						<td>{{ formGuest.form.edited }}</td>
						<td>{{ formGuest.form.name }}</td>
						<td>{{ formGuest.form.contact_email }}</td>
						<td>{{ modelGuest.ticket.kind }}</td>
						<td>{{ formGuest.form.company }}</td>
						<td>{{ formGuest.form.website }}</td>
						<td>{{ formGuest.form.twitter }}</td>
						<td>{{ formGuest.form.callsign }}</td>
						<td>{{ formGuest.form.shirt_size }}</td>
						<td>{{ formGuest.form.amateur_exam }}</td>
						<td>{{ formGuest.form.hackfest }}</td>
						<td>{{ formGuest.form.email_me }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type='submit'>
	</form>
</body>
</html>
