<html>
<head>
<title>Confirmation</title>
</head>
<body>
	Thank you for registering! You can print this page as a confirmation/receipt.
	<table>
		<tbody>
			{% for guest in guests %}
				<tr>
					<td>{{ guest.name }} {{ guest.contact_email }} {{ guest.ticket.kind | title }} {% if guest.ticket.kind == 'paid' %}{{ guest.options['shirt_size'] }}{% endif %}</td>
					<td>{{ guest.ticket.cost | format_price }}</td>
				</tr>
			{% endfor %}
			<tr>
				<td>Subtotal</td>
				<td>{% if session['money'] %}{{ session['money']['subtotal'] | format_price }}{% else %}{{ 0 | format_price }}{% endif %}</td>
			</tr>
			{% if session['money'] %}
				<tr>
					<td>Stripe fee</td>
					<td>{{ session['money']['fee'] | format_price }}</td>
				</tr>
			{% endif %}
			<tr>
				<td>Grand Total</td>
				<td>{% if session['money'] %}{{ ( session['money']['subtotal'] + session['money']['fee'] ) | format_price }}{% else %}{{ 0 | format_price }}{% endif %}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
