<html>
<head>
<title>Details</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<form action="{{ url_for('details_submit') }}" method="post">
		{{ form.hidden_tag() }}
		<table>
			<tbody>
				{% for (index, ticket, detail) in comboTicketDetail %}
					{{ detail.form.hidden_tag() }}
					<tr>
						<h1>{{ index | to_ordinal | capitalize }} {{ ticket.kind }} ticket</h1>
						<table>
							<tbody>
								<tr>
									<td>{{ detail.form.name.label }} {% if detail.form.name.flags.required %}*{% endif %}</td>
									<td>{{ detail.form.name }}</td>
								</tr>
								<tr>
									<td>{{ detail.form.contact_email.label }} {% if detail.form.contact_email.flags.required %}*{% endif %}</td>
									<td>{{ detail.form.contact_email }}</td>
								</tr>
								<tr>
									<td>{{ detail.form.company.label }} {% if detail.form.company.flags.required %}*{% endif %}</td>
									<td>{{ detail.form.company }}</td>
								</tr>
								<tr>
									<td>{{ detail.form.website.label }} {% if detail.form.website.flags.required %}*{% endif %}</td>
									<td>{{ detail.form.website }}</td>
								</tr>
								<tr>
									<td>{{ detail.form.twitter.label }} {% if detail.form.twitter.flags.required %}*{% endif %}</td>
									<td>{{ detail.form.twitter }}</td>
								</tr>
								<tr>
									<td>{{ detail.form.callsign.label }} {% if detail.form.callsign.flags.required %}*{% endif %}</td>
									<td>{{ detail.form.callsign }}</td>
								</tr>
								<tr {% if ticket.kind != 'paid' %}style="display: none;"{% endif %}>
									<td>{{ detail.form.shirt_size.label }} {% if detail.form.shirt_size.flags.required %}*{% endif %}</td>
									<td>{{ detail.form.shirt_size }}</td>
								</tr>
								<tr>
									<td>{{ detail.form.amateur_exam.label }} {% if detail.form.amateur_exam.flags.required %}*{% endif %}</td>
									<td>{{ detail.form.amateur_exam }}</td>
								</tr>
								<tr>
									<td>{{ detail.form.hackfest.label }} <a href="http://hackfosscon.challengepost.com/">Details</a> {% if detail.form.hackfest.flags.required %}*{% endif %}</td>
									<td>{{ detail.form.hackfest }}</td>
								</tr>
								<tr>
									<td>{{ detail.form.email_me.label }} {% if detail.form.email_me.flags.required %}*{% endif %}</td>
									<td>{{ detail.form.email_me }}</td>
								</tr>
							</tbody>
						</table>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		Subtotal: {{ subtotal | format_price }}<br>
		{% if fee %}
			Stripe fee: {{ fee | format_price }}<br>
		{% endif %}
		Grand total: {{ (subtotal + fee) | format_price }}<br>
		{% if subtotal %}
			<script
				src="https://checkout.stripe.com/checkout.js"
				class="stripe-button"
				data-key="{{ stripe_key }}"
				data-image="/favicon.ico"
				data-name="fosscon"
				data-description="fosscon registration ({{ (subtotal + fee) | format_price }})"
				data-zip-code="true">
			</script>
		{% else %}
			{{ form.recaptcha }}
			<input type="submit">
		{% endif %}
	</form>
</body>
</html>
