<html>
<head>
<title>Index</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<form action="{{ url_for('index_submit') }}" method="post">
		{{ form.hidden_tag() }}
		<table>
			<thead>
				<td>Name</td>
				<td>Description</td>
				<td>Cost</td>
				<td>Quantity</td>
			</thead>
			<tbody>
				{% for (modelTicket, formTicket) in comboTicketsModelForm %}
					{{ formTicket.form.hidden_tag() }}
					<tr>
						<td>{{ modelTicket.name }}</td>
						<td>{{ modelTicket.description }}</td>
						<td>{{ modelTicket.cost | format_price }}</td>
						<td>{{ formTicket.form.quantity(min=0, max=100) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type='submit'>
	</form>
</body>
</html>
