<html>
<head>
<title>An error occurred</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% for message in messages %}
			{{ message }}<br />
		{% endfor %}
	{% endwith %}
</body>
</html>
